In [18]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

import datetime as dt 
from datetime import date

import pandas as pd

from flask import Flask, jsonify

In [19]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [20]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement', 'station']

In [12]:
Station = Base.classes.station
Measurement = Base.classes.measurement

In [13]:
session = Session(engine)

In [14]:
today=date.today()
last_year=date.today()-dt.timedelta(365)

In [17]:
all_temp = session.query(Measurement.date,Measurement.tobs).filter(Measurement.date>=last_year).all()

df = pd.DataFrame(all_temp)
df

Empty DataFrame
Columns: []
Index: []